body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #003c7c;
  color: white;
  padding: 10px 0;
  text-align: center;
  z-index: 10;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 0 15px;
}

.container {
  max-width: 600px;
  margin: 80px auto 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  background: white;
}

h1, h2 {
  text-align: center;
}

.bmi-table {
  margin-top: 20px;
  border-collapse: collapse;
  width: 100%;
}

.bmi-table th, .bmi-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

button {
  padding: 10px 25px;
  background-color: #bad7f5;
  border: none;
  color: #000000;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #7db7f5;
}

#result, #advice {
  margin-top: 20px;
  font-size: 18px;
}

footer {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  background-color: #007BFF;
  color: white;
}

@media (max-width: 768px) {
  .container {
    margin: 60px auto 40px auto;
  }

  button {
    padding: 8px 20px;
  }

  #result, #advice {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .container {
    max-width: 90%;
    margin: 40px auto;
    padding: 10px;
  }

  button {
    padding: 6px 15px;
  }

  #result, #advice {
    font-size: 14px;
  }
}
